{% extends "base.html"%}
{% block title%} Contactanos {%endblock title%}

{% block stylesheets %}
    
    <link href="{{ url_for('static',filename='estilos/estilosContactanos.css') }}" rel="stylesheet" type="text/css">

{%endblock%}


{%block main%}

<h1> Necesitas Ayuda? </h1>
<div class="Help">
 <article> 
     <h3> Nuestro mail de atenciOn al cliente</h3>
     <p class="mail"> HelpSamco@Shop.com.ar </p>
 </article>
 <Article>
     <h3> Numeros de Contacto </h3>
     <p> 341 511 1390 </p>
     <p> 011 789 4820 </p>
     <p> 011 733 2203 </p>
 </Article>
 <article>
     <h3> Para devoluciones ir a una sucursal </h3>
     <a href="./sucursales.html" class="link"> Nuestras sucursales ( Click Aca )</a>
 </article> 
</div>

<h1> Preguntas Frecuentes </h1>
<div class="preguntas">

 <div class="contenedor-acordeon">
     
     <div class="acordeon">
         <input type="radio" name="acordeon" id="btn-acordeon1" class="btn-acordeon">
         <label for="btn-acordeon1">¿tendencias de moda más populares?</label>
         <div class="contenido-acordeon">
             <ul>
                 <li> Estampados florales </li>
                 <li> Ropa oversize </li>
                 <li> Colores pastel </li>
                 <li> Denim </li>
                 <li> Prendas con detalles de encaje </li>
                 <li> Accesorios llamativos </li>
                 
             </ul>
         </div>
     </div>
     <div class="acordeon">
         <input type="radio" name="acordeon" id="btn-acordeon2" class="btn-acordeon">
         <label for="btn-acordeon2">¿Hacen envios a ...?</label>
         <div class="contenido-acordeon">
             <p> Nosotros hacemos envios a todo el pais, y todos los envios son gratuitos </p>
         </div>
     </div>
     <div class="acordeon">
         <input type="radio" name="acordeon" id="btn-acordeon3" class="btn-acordeon">
         <label for="btn-acordeon3">¿En que horarios atienden?</label>
         <div class="contenido-acordeon">
             <p> Nuestros horarios son de lunes a viernes de 8am a 8pm </p>
         </div>
     </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon4" class="btn-acordeon">
     <label for="btn-acordeon4">¿Puedo cambiar un artículo si me queda mal?</label>
     <div class="contenido-acordeon">
         <p>Sí, puedes cambiarlo por otra talla o modelo dentro de los 30 días con el recibo original.</p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon5" class="btn-acordeon">
     <label for="btn-acordeon5">¿Tienen tallas grandes/pequeñas?</label>
     <div class="contenido-acordeon">
         <p> Sí, disponemos de una variedad de tallas que van desde la XS hasta la XXL. </p>
     </div>
 </div>
</div>
<div class="contenedor-acordeon">
 
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon6" class="btn-acordeon">
     <label for="btn-acordeon6">¿Aceptan pagos con tarjeta?</label>
     <div class="contenido-acordeon">
         <p>
             
             Sí, aceptamos todas las tarjetas de crédito y débito principales.
         </p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon7" class="btn-acordeon">
     <label for="btn-acordeon7">¿Tienen descuentos para estudiantes?</label>
     <div class="contenido-acordeon">
         <p> Sí, ofrecemos un 10% de descuento para estudiantes con identificación válida. </p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon8" class="btn-acordeon">
     <label for="btn-acordeon8">¿Ofrecen servicios de ajuste y sastrería?</label>
     <div class="contenido-acordeon">
         <p> Sí, ofrecemos servicios de ajuste por un costo adicional.</p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon9" class="btn-acordeon">
     <label for="btn-acordeon9">¿Puedo comprar online?</label>
     <div class="contenido-acordeon">
         <p>Sí, tenemos una tienda online en nuestro sitio web.</p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon10" class="btn-acordeon">
     <label for="btn-acordeon10">¿Cómo puedo saber si un artículo está en stock?</label>
     <div class="contenido-acordeon">
         <p> Puedes consultar la disponibilidad en nuestra tienda online o llamarnos directamente. </p>
     </div>
 </div>
</div>
<div class="contenedor-acordeon">
 
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon11" class="btn-acordeon">
     <label for="btn-acordeon11">¿Tienen tarjeta de fidelidad?</label>
     <div class="contenido-acordeon">
         <p>Sí, tenemos un programa de fidelidad. Pregunta en la tienda para más información.</p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon12" class="btn-acordeon">
     <label for="btn-acordeon12">¿Hacen ventas al por mayor?</label>
     <div class="contenido-acordeon">
         <p> Sí, ofrecemos ventas al por mayor. Contacta con nuestro departamento de ventas para más detalles. </p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon13" class="btn-acordeon">
     <label for="btn-acordeon13">¿Ofrecen tarjetas de regalo?</label>
     <div class="contenido-acordeon">
         <p> Sí, tenemos tarjetas de regalo disponibles en varios montos.</p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon14" class="btn-acordeon">
     <label for="btn-acordeon14">¿Cuál es su política de garantías?</label>
     <div class="contenido-acordeon">
         <p>Ofrecemos una garantía de 6 meses en todas nuestras prendas.</p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon15" class="btn-acordeon">
     <label for="btn-acordeon15">¿Puedo reservar un artículo?</label>
     <div class="contenido-acordeon">
         <p> Sí, puedes reservar un artículo por 24 horas llamando a la tienda. </p>
     </div>
 </div>
</div>
<div class="contenedor-acordeon">
 
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon16" class="btn-acordeon">
     <label for="btn-acordeon16">¿Tienen ropa para niños?</label>
     <div class="contenido-acordeon">
         <p>
             
             Sí, tenemos una sección dedicada a ropa infantil.
         </p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon17" class="btn-acordeon">
     <label for="btn-acordeon17">¿Hacen envíos internacionales?</label>
     <div class="contenido-acordeon">
         <p> Sí, hacemos envíos a varios países. Consulta en nuestra web para más información. </p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon18" class="btn-acordeon">
     <label for="btn-acordeon18">¿Puedo solicitar un reembolso?</label>
     <div class="contenido-acordeon">
         <p> Sí, puedes solicitar un reembolso dentro de los 30 días con el recibo y el artículo sin usar.</p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon19" class="btn-acordeon">
     <label for="btn-acordeon19">¿Cómo puedo seguir sus novedades y ofertas?</label>
     <div class="contenido-acordeon">
         <p>Síguenos en nuestras redes sociales y suscríbete a nuestro boletín en la web.</p>
     </div>
 </div>
 <div class="acordeon">
     <input type="radio" name="acordeon" id="btn-acordeon20" class="btn-acordeon">
     <label for="btn-acordeon20">¿Ofrecen servicio de estilismo personal?</label>
     <div class="contenido-acordeon">
         <p> Sí, ofrecemos consultas de estilismo personal. Reserva una cita en nuestra tienda o en línea. </p>
     </div>
 </div>
</div>  
</div>

{%endblock main%}