{% extends "base.html"%}
{% block title%} Productos {%endblock title%}

{% block stylesheets %}

    <link href="{{ url_for('static',filename='estilos/estilosProductos.css') }}" rel="stylesheet" type="text/css">

{%endblock%}

{%block main%}
        <h1>Remeras</h1>
        <div class="contenedor-productos">

            <div class="producto-tarjeta">
                <div class="mas-vendido">MÁS VENDIDO</div>
                <img src="../static/multimedia/remeras/1164107-150-150.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Remera tricolor</h2>
                    <div class="estadisticas">
                        <span class="calificacion">4.8</span>
                        <span class="estrellas">★★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$20.500</p>
                    <p class="cuotas">en 6 cuotas de $4.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/remeras/311263-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Remera coleccion 4</h2>
                    <div class="estadisticas">
                        <span class="calificacion">4.2</span>
                        <span class="estrellas">★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$21.500</p>
                    <p class="cuotas">en 6 cuotas de $4.994</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/remeras/376301-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Remera unicolor gris</h2>
                    <div class="estadisticas">
                        <span class="calificacion">4.3</span>
                        <span class="estrellas">★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$19.400</p>
                    <p class="cuotas">en 6 cuotas de $4.394</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/remeras/418713-150-auto.png" alt="Producto" >
                <div class="detalles">
                    <h2>Remera termica</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.8</span>
                        <span class="estrellas">★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$24.500</p>
                    <p class="cuotas">en 6 cuotas de $5.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/remeras/799705-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Remera unicolor gris oscuro</h2>
                    <div class="estadisticas">
                        <span class="calificacion">2.8</span>
                        <span class="estrellas">★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$19.500</p>
                    <p class="cuotas">en 6 cuotas de $3.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/remeras/806999-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Remera</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.1</span>
                        <span class="estrellas">★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$18.500</p>
                    <p class="cuotas">en 6 cuotas de $3.394</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
        </div>
        <h1>Buzos</h1>
        <div class="contenedor-productos">

            <div class="producto-tarjeta">
                <div class="mas-vendido">MÁS VENDIDO</div>
                <img src="../static/multimedia/buzos/1145524-150-150.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Buzo unicolor cafe</h2>
                    <div class="estadisticas">
                        <span class="calificacion">4.8</span>
                        <span class="estrellas">★★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$24.500</p>
                    <p class="cuotas">en 6 cuotas de $4.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/buzos/224925-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Buzo unicolor simple azul</h2>
                    <div class="estadisticas">
                        <span class="calificacion">4.8</span>
                        <span class="estrellas">★★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$24.500</p>
                    <p class="cuotas">en 6 cuotas de $4.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/buzos/419610-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Buzo yeah negro</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.8</span>
                        <span class="estrellas">★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$22.500</p>
                    <p class="cuotas">en 6 cuotas de $3.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/buzos/420111-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Buzo azul marino</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.8</span>
                        <span class="estrellas">★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$22.000</p>
                    <p class="cuotas">en 6 cuotas de $3.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/buzos/429766-150-auto.png" alt="Producto" >
                <div class="detalles">
                    <h2>Buzo</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.7</span>
                        <span class="estrellas">★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$21.500</p>
                    <p class="cuotas">en 6 cuotas de $3.294</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/buzos/491452-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Buzo tricolor</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.2</span>
                        <span class="estrellas">★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$21.500</p>
                    <p class="cuotas">en 6 cuotas de $3.294</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
        </div>
        <h1>Camperas</h1>
        <div class="contenedor-productos">

            <div class="producto-tarjeta">
                <div class="mas-vendido">MÁS VENDIDO</div>
                <img src="../static/multimedia/camperas/173642-150-auto.webp" alt="Producto" >
                <div class="detalles">
                    <h2>Campera marron</h2>
                    <div class="estadisticas">
                        <span class="calificacion">4.9</span>
                        <span class="estrellas">★★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$28.500</p>
                    <p class="cuotas">en 6 cuotas de $5.894</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/camperas/177250-150-auto.png" alt="Producto" >
                <div class="detalles">
                    <h2>Campera ducolor coleccion 3</h2>
                    <div class="estadisticas">
                        <span class="calificacion">4.8</span>
                        <span class="estrellas">★★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$25.500</p>
                    <p class="cuotas">en 6 cuotas de $4.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/camperas/650151-150x150.jpg" alt="Producto" >
                <div class="detalles">
                    <h2>Campera simple t-rex</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.2</span>
                        <span class="estrellas">★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$24.500</p>
                    <p class="cuotas">en 6 cuotas de $4.494</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/camperas/Campera-Americana-Mercedes-Benz-Negro-150x150.jpg" alt="Producto" >
                <div class="detalles">
                    <h2>Campera termica coleccion 1</h2>
                    <div class="estadisticas">
                        <span class="calificacion">4.9</span>
                        <span class="estrellas">★★★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$44.500</p>
                    <p class="cuotas">en 6 cuotas de $8.594</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/camperas/Campera-Julian-3x1-Navy-150x150.jpg" alt="Producto" >
                <div class="detalles">
                    <h2>Campera doble</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.2</span>
                        <span class="estrellas">★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$25.500</p>
                    <p class="cuotas">en 6 cuotas de $4.894</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
            <div class="producto-tarjeta">
                
                <img src="../static/multimedia/camperas/Campera-Wisconsin-1-150x150.jpg" alt="Producto" >
                <div class="detalles">
                    <h2>Campera</h2>
                    <div class="estadisticas">
                        <span class="calificacion">3.2</span>
                        <span class="estrellas">★★★</span>
                        <span class="vistas">(92)</span>
                    </div>
                    <p class="precio">$27.500</p>
                    <p class="cuotas">en 6 cuotas de $4.894</p>
                    <p class="envio">Llega gratis el lunes</p>
                    <p class="cumplimiento">Enviado por <span class="full">FULL</span></p>
                </div>
            </div>
        </div>
{%endblock main%}