{% extends "base.html"%}
{% block title%} Iniciar Sesion {%endblock title%}

{% block stylesheets %}
    
    <link href="{{ url_for('static',filename='estilos/estilosSucursales.css') }}" rel="stylesheet" type="text/css">

{%endblock%}

{%block main%}
        <h2>Sucursales SAMCO</h2>
        <div id="seccion">
            <!-- <article class="sucursal">
                <h3>Samco Palermo</h3>
                <p>Avenida Santa Fe 3464</p>
                <p>Lunes a Sabado de 10 a 18 hs.</p>
            </article>
            <article class="sucursal">
                <h3>Samco Caballito</h3>
                <p>Avenida Rividavia 4736</p>
                <p>Lunes a Sabado de 10 a 18 hs.</p>
            </article>
            <article class="sucursal">
                <h3>Samco Flores</h3>
                <p>Avenida Rividavia 7392</p>
                <p>Lunes a Viernes de 9 a 18 hs.</p>
            </article>
            <article class="sucursal">
                <h3>Samco Liniers</h3>
                <p>Avenida Rividavia 10701</p>
                <p>Lunes a Viernes de 9 a 16 hs.</p> 
            </article>-->

        </div>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105073.45340265236!2d-58.51569882909939!3d-34.61565476978053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1716580812337!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        {%endblock main%}