.quienesSomos , .mision{
    margin: 3em 10% 20em 10%;
    display: grid;
    grid-template: auto 1fr / 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;

}
.quienesSomos h2{
    font-size: 3em;
    margin: auto;
    font-weight:lighter;
}
.mision h3, .valores h3, .diferenciales h3,.nuestroFuturo h3{
    
    font-size: 2em;
    margin: auto;
    font-weight:lighter;
}
.quienesSomos h2,.mision h3, .valores h3, .nuestroFuturo h3{
    grid-column: 1/3;
}
.diferenciales h3{
    grid-column: 1/4;
}

.quienesSomos img, .mision img{
    margin:auto;
    width:70%;
    min-width: 2em;
    border-radius: 100%;
}
.quienesSomos p , .mision p , .valores article{
    margin: auto;
    background-color: rgb(0, 61, 71);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}
.valores article{
    width:100%;
}
.quienesSomos p , .mision p{
    margin: auto;
}
.quienesSomos p{
    grid-area: 2 / 2 / 3 / 3 ;
}

.valores{
    margin: 0px 10% 20em 10%;
    display: grid;
    grid-template: 5em 1fr 1fr / 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.diferenciales{
    margin: 0px 10% 20em 10%;
    display: grid;
    grid-template: 5em 1fr / 33% 33% 33% ;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}
.diferenciales img{
    width: 100%;
    max-width: 15em;
    margin: auto;
    border-radius: 50%;
}
.contenedor-acordeon{
    width:100%;
    margin:auto;
}
.acordeon label{
    display: block;
    height: 4em;
    width: 100%;
    padding:20px;
    background-color:rgb(0, 61, 71) ;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color:white;
    transition: all 300ms ease;
}
.acordeon label:hover{
    background-color: rgb(3, 39, 45);
    transform: translateY(-2px);
}
.acordeon .contenido-acordeon{
    padding:0px;
    margin-bottom: 2px;
    max-height: 0px;
    overflow: hidden;
    background-color: rgb(5, 95, 111);
    
    transition:all 300ms ease;
}
.contenido-acordeon ul{
    color: white;
    margin: 0px 6px;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 300px;
    padding: 15px 0px;
}
.btn-acordeon{
    display:none;
}
.nuestroFuturo{
    margin: 2em 10% 20em 10%;
    display: grid;
    grid-template: 5em 1fr 1fr / 50% 50% ;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}
.nuestroFuturo img{
    height: auto;
    width: 50%;
    min-width: 40%;
    border-radius: 10px;
    margin: auto 20px;
}
.nuestroFuturo .column, .nuestroFuturo .column-rev{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 95, 111);
    border-radius: 10px;
    color:white;
    padding: 10px
}

.nuestroFuturo p{
    margin:auto 20px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}
@media (max-width:600px){
   
    .quienesSomos , .mision{
        grid-template: auto 10em 1fr / 1fr;
    }
    .quienesSomos h2, .mision h3{
        grid-column: 1;
        font-size: 2em;
        text-align: center;
    }
    .quienesSomos img, .mision img{
        margin: auto;
        height: 100%;
        width: auto;
    }
    .valores{
        margin: 0 auto 20em auto;
        grid-template: 5em 1fr 1fr 1fr 1fr/ 1fr ;
    }
    .valores :nth-child(2){
        grid-row-start: 2;
    }
    .valores :nth-child(3){
        grid-row-start: 3;
    }
    .valores :nth-child(4){
        grid-row-start: 4;
    }
    .valores :nth-child(5){
        grid-row-start: 5;
    }
    .valores article{
        
        max-width: 12em;
    }
    .quienesSomos p, .mision p{
        grid-area: 3 / 1 ;
    }
    .diferenciales img{
        display: none;
    }
    .diferenciales{
        grid-template: auto 1fr / 1fr;
        grid-row-gap:0px;
    }
    .diferenciales h3, .nuestroFuturo h3{
        grid-column: 1;
        text-align: center;
    }

    .diferenciales:nth-child(4){
        grid-row: 3;
    }
    .nuestroFuturo{
        grid-template: auto 1fr 1fr 1fr 1fr/ 1fr ;
    }
    .column{
        flex-direction: column;
    }
    .nuestroFuturo img{
        min-height: 30%;
        min-width: 10em;
        margin: 1em auto;
    }
    .nuestroFuturo img[alt="ropa deportiva"]{
        width:8em
    }
    .column-rev{
        flex-direction: column-reverse;
    }
    
}
@media (min-width:601px) and (max-width:900px){
    .quienesSomos{
        margin: 3em 5% 20em 5%;
        grid-template: auto auto / 1fr 2fr;
    }
    .mision{
        margin: 3em 5% 20em 5%;
        grid-template: auto auto / 2fr 1fr;
    }
    .quienesSomos img,.mision img{
        width: 100%;
    }
    .diferenciales{
        grid-template: auto 1fr / 50% 50%;
        
    }
    .diferenciales img{
        display: none;
    }
     .column{
        flex-direction: column;
    }
    .column-rev{
        flex-direction: column-reverse;
    }
    
    .nuestroFuturo img{
        width: 60%;
        margin: auto;
    }
}