
*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: rgb(227, 249, 252);
    /*background-image: url(../multimedia/background.png);*/
    position: relative;
    min-height: 100vh;
    padding-bottom: 3.5em;
}
header, footer{
    width: 100%;
    
   background-color: rgb(5, 95, 111);
   
}

.navegacion, .iniciarSesion, .registrar{
    color:white;
    text-decoration: none;
    font-size: 1.2em;
    
}
.navegacion:hover , .iniciarSesion:hover, .registrar:hover{
    border: 1px solid black;
    transition-duration: 300ms;
    
}
.navegacion{
    
    padding:6px 2px ;
}
.navegacion:hover ,.iniciarSesion:hover , .registrar:hover {
    transition-duration:0.4s ;
    transition-timing-function: ease-in-out;
    background-color: rgb(0, 61, 71);
}
.iniciarSesion, .registrar{
    padding: 4px 3px;
}
footer{
    
    color:white;
    position:absolute;
    height: 3em;
    bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.busqueda{
    height: 4.1em;
    border-bottom: 1px solid rgb(154, 243, 233);
    display: grid;
    grid-template-columns: 150px 1fr 150px ;
    
}
.ingresoUsuario{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
img[alt="icono samco"]{
    height: 63px;
}
#formBusqueda{
    width: 100%;
    grid-column-start: 2;
    display: flex;
    margin:auto;
}
.search{
    height:2.5em;
    width:60%;
    margin: auto;
    font-size: medium;
    padding-left: 20px;
    border-radius:20px;
    
}
.search:focus-visible{
    transition:  0.6s all ease-in-out;
    box-shadow: 0px 0px 3px 3px white;
}
.menu{
    height: 35px;
    width: 35em;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#redes{
    width:100px;
}
header{
    position:sticky;
    top:0;
}
.iniciarSesion:active{
    background-color: white;
}

@media (max-width:600px) {
    .menu{
        width: auto;
        display:grid;
        grid-template: 1fr 1fr/1fr 1fr ;
        height: 3.5em;
    }
    .navegacion, .iniciarSesion, .registrar{
        font-size: 0.8em;
        margin: auto;
    }
    .iniciarSesion,  .registrar{
        height: 1.8em;
    }
    .busqueda{
        height: 3.6em;
        grid-template-columns: 3.6em  1fr 100px ;
    }
    .search{
        height: auto;
        font-size:small;
        width: 100%;
    }
    img[alt="icono samco"]{
        height: 3.6em;
    }

}
@media (min-width:601px) and (max-width:900px){
    .search{
        width:100% ;
        transition: all 1s ease;
    }
}